# =======================
# ======= GITBOOK =======
# =======================
# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# =======================
# ========= IDE =========
# =======================
# General
.idea

# IntelliJ
/out/

# File-based project format:
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
